#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.search-box {
  background-image: url('https://image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/ghQrKrcEpAlkzBuNoOCSxHQXWqw.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 150px;

  h2 {
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
    color: #fff;
    padding-left: 10px;
  }
}

ion-searchbar {
  background: none;
  --background: #fff;
  --border-radius: 20px;
}