<ion-header>
  <ion-toolbar>
    <ion-title>
      Movie Catalog
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="search-box">
  <h2>Welcome</h2>
  <ion-searchbar placeholder="Search for a movie, tv show, person..." (ionChange)="searchChanged($event)">

  </ion-searchbar>
</div>
<div *ngIf="!searchActive">
  <h2 class="ion-padding-start">Trending</h2>
  <ion-slides [options]="opts">
    <ion-slide *ngFor="let movie of trending">
      <!-- <img [src]="'http://image.tmdb.org/t/p/w200/' + movie.poster_path"> -->
      <movie-preview [movie]="movie"></movie-preview>
    </ion-slide>
  </ion-slides>
</div>

<div *ngIf="searchActive">
    <div *ngFor="let r of searchResults" [routerLink]="['/', r.media_type, r.id]" tappable>
      <searchview [r]="r"></searchview>
    </div>
  </div>
</ion-content>

